:root {
    --color-white-0:  #F6F6F6;
    --color-white-1:  #ffffff;
    --color-white-2:  #fafafa;
    --color-white-3:  #dedede;
    --color-white-4:  #cccccc;
    --color-black-1:  #000000;
    --color-black-2:  #111111;
    --color-black-3:  #121212;
    --color-black-4:  #555555;
    --color-blue-1:   #027ef2;
    --color-blue-2:   #3478F5; 
}

img {
    max-width: 40%;
    margin-left: 30%;
    margin-top: 30%;
    margin-bottom: 50px;
    padding: 0%;
}

body {
    background-color: var(--color-white-1);

}

.container {
    text-align: center;
    margin-bottom: 10px;

}

input {
    width: 65%;
    margin-top: 5px;
    border: none;
    border-radius: 3px;
    background-color: var(--color-white-0);
    padding: 6px;
    font-size: 0,5rem;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

input:hover {
    font-weight: bold;
    font-family: 01.5rem;
    
}

input:focus {
    font-weight: bold;
}

div {
    text-align: center;
    margin-top: 10px;
}

button {
    width: 70%;
    padding: 2%;
    border-radius: 4px;
    background-color: var(--color-blue-2);
    color: var(--color-white-1);
    border: none;
    padding: 10px;
    font-size: 0,5rem;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

button:hover {
    background-color: cornflowerblue;
    transition: 1s;
}


p {
    margin-bottom: 100px;
}

a, a:link {
    text-decoration: none;
    color: var(--color-black-1);
    font-weight: bold;
    font-size: 0.9rem;
    
}

a:hover {
    color: var(--color-blue-2);
}

hr {
    width: 40%;
    margin-top: 20px;
    border-width: 0; 
	height: 1px;
	border-top-width: 1px;
}

